[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emoa"]
	path = emoa
	url = https://github.com/olafmersmann/emoa
[submodule "loglognorm"]
	path = loglognorm
	url = https://github.com/olafmersmann/loglognorm
[submodule "mco"]
	path = mco
	url = https://github.com/olafmersmann/mco
[submodule "sendmailR"]
	path = sendmailR
	url = https://github.com/olafmersmann/sendmailr
[submodule "truncnorm"]
	path = truncnorm
	url = https://github.com/olafmersmann/truncnorm
