[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sendmailR"]
	path = sendmailR
	url = https://github.com/olafmersmann/sendmailr
	shallow = true
	registered = true
[submodule "mco"]
	path = mco
	url = https://github.com/olafmersmann/mco
	shallow = true
	registered = true
[submodule "truncnorm"]
	path = truncnorm
	url = https://github.com/olafmersmann/truncnorm
	shallow = true
	registered = true
